extends ../layout

block content
  div(role='main')
    .page.innerPage(id="#{event.urlkey}",data-role="page")
      .topGrahic
      a.menuButton(href="/events",data-rel='back')
        img(src="/img/menu-button.png",alt="Home")

      .padpage.padtop
        div(itemscope,itemtype="http://data-vocabulary.org/Event")
          h1 
            a.back.ui-link(href='/')
              img(src='/img/icon-back.png',alt='Back')
              span(itemprop="summary") #{event.name}

          .flexslider 
            img(itemprop="photo",src="#{page.image}",alt="#{event.name}")

          p
            span(itemprop="description") #{event.name} is marked on #{event.hijridate}#{suffix(event.hijridate)} of #{event.month}.
            | This year, it falls on 
            span(itemprop="startDate",datetime="#{event.crdate.toISOString()}") #{event.crdate.toString().split('00:')[0]} .
            span.hidden(itemprop="endDate",datetime="#{(new Date(event.crdate.getTime() + 86399)).toISOString()}") #{event.crdate.toString().split('00:')[0]}

          p 
            | !{event.description} 

        include ../sharing
