extends ../layout

block content
  div(role='main')
    .page.innerPage#eventPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop

        h1 
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='Back')
            | Islamic Occasions

        .projects
          ul(data-role='listview')
            - for (var i =0; i < events.length; i++) {
              - var event = events[(i+offset)%events.length]
                li
                  a(href='/events/#{event.urlkey}')
                    img(src='/cache/64x64/#{event.image}', alt='#{event.name}')
                    h3 #{event.name}
                    p #{datehelper(event)}
            - }

      include ../sharing
