extends layout

block content
  #duacontainer

  script
    $(document).ready(function () {
        $('#duacontainer').jtable({
            title: "#{info.enname}",
            actions: {
                listAction: '/admin/dua/#{info.urlkey}/list',
                createAction: '/admin/dua/#{info.urlkey}/create',
                updateAction: '/admin/dua/#{info.urlkey}/update',
                deleteAction: '/admin/dua/#{info.urlkey}/delete'
            },
            fields: {
                rowid: {
                  key: true,
                  list: false,
                  create: false,
                  edit: false
                },
                english: {
                    title: 'English Translation'
                },
                arabic: {
                    title: 'Arabic'
                },
                hindi: {
                    title: 'Hindi'
                },
                urdu: {
                  title: 'Urdu'
                }
            }
        });
 
        $('#duacontainer').jtable('load');
    });
