mixin breadcrumb(crumbs)
  h4.noprint 
    a(href="/",itemprop="url") 
      span(itemtprop="title") Home 
      each c in crumbs
        |  &gt;
        div(itemscope,itemtype="http://data-vocabulary.org/Breadcrumb",itemprop="child",style="display:inline;")
          a(href='//' + encodeURI(c.href),itemprop="url")
            span(itemprop="title") #{c.text}


mixin sharing(text,url)
  .footer.noprint
    .social.right
      a(href="http://twitter.com/intent/tweet?url=" + url + '&text=' + text,target="_blank")
        img(src="/img/icon-twitter.png",alt="Share on Twitter")

      a(href="//www.facebook.com/sharer.php?u=" + url)
        img(src="/img/icon-facebook.png",alt="Share on Facebook")

      a(href='whatsapp://send?text=' + text)
        img(src="/img/icon-whatsapp.png",alt="Share on Whatsapp")  

mixin verses(key)
  each row in key
    .section.group
      .col.span_1_of_2.arabic #{row.ar}
      .col.span_1_of_2(class="english") #{row.en}

mixin dua(key)
  each row in key
    .section.group
      .col.span_1_of_2.arabic #{row.arabic}
      .col.span_1_of_2(class="english") #{row.english}
