extends layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 #{info.enname}
          audio(src="#{info.audio}",controls="controls")
        p #{info.endesc}

        table
          thead
            th English Translation
            th.right.arabic(style="width: 75%") #{info.arname}
          each row in data
            tr
              td #{row.english}
              td.right.arabic #{row.arabic}
