extends layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Home")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/duas')
            img(src='/img/icon-back.png',alt='')
            | #{info.enname}
          audio.noprint(src="#{info.audio}",controls="controls",preload="none")
        p #{info.endesc}

        .section.group
          .col.span_1_of_2.arabic #{info.arname}
          .col.span_1_of_2
              small
                a(href='?lang=english') 
                  span.language English &nbsp;  
                |  | &nbsp; 
                a(href='?lang=hindi') 
                  span.language Hindi &nbsp;
                |  | &nbsp; 
                a(href='?lang=arabiconly') 
                  span.language Arabic only &nbsp;

        if (lang.indexOf('only') == -1) 
          each row in data
            .section.group
              .col.span_1_of_2.arabic #{row.arabic}
              .col.span_1_of_2(class="#{lang}") #{row[lang]}
        else
          p.arabic.doublespaced
            each row in data
              | #{row.arabic}
