extends layout

append htmlhead
  if (scripts.css)
    link(href='#{scripts.css}',rel='stylesheet',type='text/css')

block content
  div(role='main')
    #menuPage.page.iscroll(data-role='page', data-cache='never')
      .scroller
        .company
          a(href='/month/')
            .calendar
              span.month #{hijri.monthName}
              span.day #{hijri.day}
          #coverVerse #{verse.arabic} 
          img(style="vertical-align:middle",src='/img/qurancover.jpg', alt='Sahifa-e-Sajjadiya')
        ul.menu
          li
            ul.section
              li.square
                a.box(href='/quran', data-transition='fade', data-direction='reverse')
                  img(src='/img/icon-quran.png', alt='videos')
                  span.text  Al-Quran
              li.square
                a.box(href='/munajat', data-transition='fade', data-direction='reverse')
                  img(src='/img/icon-munajat.png', alt='Munajat')
                  span.text  Whispered Prayers
              li.square
                a.box(href='/duas', data-transition='fade', data-direction='reverse')
                  img(src='/img/icon-dua.png', alt='Supplications')
                  span.text  Supplications
          li
            ul.section
              li.square
                a.box(href='/searchpage', data-transition='fade', data-direction='reverse')
                  img(src='/img/icon-search.png', alt='Search')
                  span.text  Start Here
              li.square
                a.box(href='/events', data-transition='fade', data-direction='reverse')
                  img(src='/img/icon-events.png', alt='Events')
                  span.text  Events 
              li.square
                a.box(href='/ziyarat', data-transition='fade', data-direction='reverse')
                  img(src='/img/icon-ziyarat.png', alt='Ziyaraat')
                  span.text  Ziyaraat
          li
            ul.section
              li.square
                a.box(href='/asmaulhusna', data-transition='fade', data-direction='reverse')
                  img(src='/img/icon-allah.png', alt='Asma-ul-Husna')
                  span.text Asma-ul-Husna
              li.square
                a.box(href='/prayertimes', data-transition='fade', data-direction='reverse')
                  img(src='/img/icon-praytimes.png', alt='Prayer Times')
                  span.text Prayer Times
              li.square
                a.box(href='/gallery', data-transition='fade', data-direction='reverse')
                  img(src='/img/icon-gallery.png', alt='Gallery')
                  span.text  Gallery 
          li
            ul.section
              li.square
                a.box(href='/teachings', data-transition='fade', data-direction='reverse')
                  img(src='/img/icon-tesbih.png', alt='Teachings')
                  span.text Pearls of Wisdom
              li.square
                a.box(href='/treatise', data-transition='fade', data-direction='reverse')
                  img(src='/img/icon-rights.png', alt='Treatise of Rights')
                  span.text Treatise of Rights
              li.square
                a.box(href='/settings', data-transition='fade', data-direction='reverse')
                  img(src='/img/icon-settings.png', alt='Settings')
                  span.text  Settings

    if (scripts.js)
      script(src="#{scripts.js}",defer="defer")
