extends layout

block content
  div(role='main')

    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Home")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='<-')
            | #{info.enname}
          if (info.audio)
            audio.noprint#amtag(src="#{info.audio}",controls="controls",preload="none")

        p #{info.endesc} 

          .section.group
            .col.span_1_of_2.arabic #{info.arname}
            .col.span_1_of_2
              small
                a(href='?lang=arabiconly') 
                  span.language Arabic only &nbsp;
                if (data[0].english)
                  |  | &nbsp; 
                  a(href='?lang=english') 
                    span.language English &nbsp;  
                if (data[0].urdu)
                  |  | &nbsp; 
                  a(href='?lang=urdu') 
                    span.language Urdu &nbsp;
                if (data[0].hindi)
                  |  | &nbsp; 
                  a(href='?lang=hindi') 
                    span.language Hindi &nbsp;
                if (data[0].engtrans)
                  |  | &nbsp;  
                  a(href='?lang=engtrans') 
                    span.language Transliteration 

        if (lang.indexOf('only') == -1) 
          each row in data
            .section.group
              .col.span_1_of_2.arabic #{row.arabic}
              .col.span_1_of_2(class="#{lang}") #{row[lang]}
        else
          p.arabic.doublespaced
            each row in data
              | #{row.arabic} &nbsp;

          != "<script>"
          != "var cues = ["
          if (data[0].cue)
            each row in data
              !{row.cue},
          != " ]; </script>"
