extends layout

block content
  div(role='main')
    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Home")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='Back')
            | The Whispered prayers
        p
          | The Arabic word munajat is derived from najiy, meaning confidential talk
          | There are fifteen such prayers in Sahifa-e-Kamela. For the Duas in Sahifa-e-Kamela,
          a(href='/duas') visit the Duas section.

        h4 Munajat's from Sahifa-e-Sajjadiya
        .clients
            ul(data-role='listview')
              each prayer in prayers
                if (prayer.collection == 'Sahifa-e-Sajjadiya')
                  li
                    a(href='/munajat/#{prayer.urlkey}')
                      img.ui-li-icon(src='/img/sample-images/icon1.png', alt='image 2')
                      | #{prayer.enname}
                      span.arabic.right(style='background: transparent;') #{prayer.arname}

        h4 Other Munajat's
        .clients
            ul(data-role='listview')
              each prayer in prayers
                if (prayer.collection != 'Sahifa-e-Sajjadiya')
                  li
                    a(href='/munajat/#{prayer.urlkey}')
                      img.ui-li-icon(src='/img/sample-images/icon1.png', alt='image 2')
                      | #{prayer.enname}
                      span.arabic.right(style='background: transparent;') #{prayer.arname}


