extends layout

block content
  div(role='main')

    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Home")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/munajat')
            img(src='/img/icon-back.png',alt='<-')
            | #{info.enname}
          audio.noprint#amtag(src="#{info.audio}",controls="controls",preload="none")

        p #{info.endesc} 

          .section.group
            .col.span_1_of_2.arabic #{info.arname}
            .col.span_1_of_2
              small
                a(href='?lang=english') 
                  span.language English &nbsp;  
                |  | &nbsp; 
                a(href='?lang=urdu') 
                  span.language Urdu &nbsp;
                |  | &nbsp;  
                a(href='?lang=engtrans') 
                  span.language Transliteration 

          each row in data
            .section.group
              .col.span_1_of_2.arabic #{row.arabic}
              .col.span_1_of_2(class="#{lang}") #{row[lang]}

          != "<script>"
          != "var cues = ["
          if (data[0].cue)
            each row in data
              !{row.cue},
          != " ]; </script>"
