extends layout

block content
  div(role='main')

    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")
      a.menuButton.menuButton1(href="?lang=engtrans")
        img(src="/img/menu-home.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='#',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | #{info.enname}
          audio(src="#{info.audio}",controls="controls",preload="none")
        p #{info.endesc}

        .columnContainer.column-2
          p.column 
            span.strong #{langdesc}
          p.column
            span.arabic.right #{info.arname}

        .columnContainer.column-2
          each row in data
            p.column
              span(class="#{lang}") #{row[lang]}
            p.column
              span.arabic.right #{row.arabic}

     
