extends layout

block content
  div(role='main')

    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")
      a.menuButton.menuButton1(href="?lang=engtrans")
        img(src="/img/menu-home.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='#',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | #{info.enname}
          audio(src="#{info.audio}",controls="controls",preload="none")
        p #{info.endesc}

          .section.group
            .col.span_1_of_2(class="#{lang}") #{langdesc}
            .col.span_1_of_2.arabic #{info.arname}

          each row,index in data
            .section.group
              .col.span_1_of_2(class="#{lang}") #{row[lang]}
              .col.span_1_of_2.arabic #{row.arabic}
