extends layout

block content
  div(role='main')

    .page.innerPage#startPage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Home")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='<-')
            | #{info.enname}
          audio.noprint(src="#{info.audio}",controls="controls",preload="none")

        p #{info.endesc} 

          each row in data
            .section.group
              .col.span_1_of_2.arabic #{row.arabic}
              .col.span_1_of_2.urdu #{row.urdu}
