.footer
  .social.right
    a(href="http://plus.google.com?share=#{url}",target="_blank")
      img(src="/img/icon-gplus.png",alt="Like us on Google+")

    a(href="http://twitter.com/intent/tweet?url=#{url}&text=#{page.title}",target="_blank")
      img(src="/img/icon-twitter.png",alt="Share on Twitter")

    a(href="//www.facebook.com/sharer.php?s=100&p[title]=#{page.title}&p[url]=#{url}&p[images][0]=#{page.image}&p[summary]=#{page.description}");
      img(src="/img/icon-facebook.png",alt="Share on Facebook")
