extends layout

block content
  div(role='main')
    .page.innerPage.versePage(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Duas Home")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='<-')
            | #{info.enname}
          include plusone
          .raty.right(data-score="#{rating}")
            meta(itemprop="ratingValue",content="#{rating}")

        mixin breadcrumb([ { href: '/' + info.type, text: titlecase(info.type) }, { href: '/' + info.type + 's/collection/' + info.collection , text: info.collection }])

        #toTop ↑ Top
        div.ui-field-contain(data-role="controlgroup",data-type="horizontal",data-mini="true")
          if (data[0].english)
            a(class=cls.english,href='?lang=english',data-role="button") English
          if (data[0].urdu)
            a(class=cls.urdu,href='?lang=urdu',data-role="button") Urdu
            a(class=cls.arabic,href='?lang=arabiconly',data-role="button") Arabic
          if (data[0].hindi)
            a(href='?lang=hindi',data-role="button") Hindi
          if (data[0].hintrans)
            a(href='?lang=hintrans',data-role="button") Hindi Transliteration
          if (data[0].engtrans)
            a(class=cls.engtrans,href='?lang=engtrans',data-role="button") Transliteration
          | &nbsp;
          select.colswitch(name="flip-mini",data-role="slider",data-mini="true")
            option(value="off") 1 Col
            option(value="on") 2 Col


      .ui-content(data-role="content")
        p !{info.endesc} 

          .section.group
            .col.span_1_of_2.arabic #{info.arname}
            .col.span_1_of_2
        if (lang.indexOf('only') == -1) 
          each row in data
            .section.group
              .col.span_1_of_2.arabic #{row.arabic}
              .col.span_1_of_2(class="#{lang}") #{row[lang]}
        else
          p.arabic.doublespaced
            each row in data
              | #{row.arabic} &nbsp;

        if info.link
          h3 Related Links
          ol
          each link in info.link
            li
              a.next.ui-link(href=link.href) #{link.title}
                img(src='/img/icon-next.png')

        if (votes > 1)
          hr
          .left(itemscope,itemtype="http://data-vocabulary.org/Review-aggregate")
            span(itemprop="itemreviewed") #{info.enname} 
            img.hidden(itemprop="photo",src="#{page.image}") 
            span(itemprop="rating",itemscope itemtype="http://data-vocabulary.org/Rating")
              | rated 
              span(itemprop="average") #{rating} 
              | out of 
              span(itemprop="best") 5 
              | based on 
              span(itemprop="votes") #{votes} 
              | ratings. 
          include sharing

        br

      if (info.audio)
        div(data-role="footer",data-position="fixed",itemscope,itemtype="http://schema.org/MusicRecording")
          meta(itemprop="name",content="#{info.enname}")
          meta(itemprop="url",content="#{url}")
          if (duration)
            meta(itemprop="duration",content="#{duration}")
          meta(itemprop="inAlbum",content="#{titlecase(info.type)}-#{info.collection}")
          audio.noprint#amtag(itemprop="audio",style="width: 100%",src="#{info.audio}",controls="controls",preload="none")

        != "<script type='text/javascript'>"
        != "var cues = ["
        if (data[0].cue)
          each row in data
            !{row.cue},
        != " ]; </script>"


