extends ../layout

block content
  div(role='main')
    .page.innerPage#rights(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop

        h1 
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='Back')
            | #{surat.enname} - #{surat.tname}

        .surahHeaderFrame
          .surahHeaderText سورة #{surat.arname}

        if (lang.indexOf('ar') == -1) 
          each verse in verses
            .section.group
              .col.span_1_of_2.arabic 
                | #{verse.ar} 
                span.ayahNumber ﴿#{digits(verse.verse)}﴾  
              .col.span_1_of_2(class=lang) #{verse[lang]}
        else
          p.arabic.doublespaced
            each verse in verses
              | #{verse.ar} 
              span.ayahNumber ﴿#{digits(verse.verse)}﴾  

        h4
          if (next) 
            a.next.ui-link(href="#{next}") 
              | Next
              img(src="/img/icon-next.png")

      include ../sharing
