extends ../layout

block content
  div(role='main')
    .page.innerPage#rights(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop

        h1 
          a.back.ui-link(href='#',data-rel='back')
            img(src='/img/icon-back.png',alt='Back')
            | #{surat.enname} - #{surat.tname}

        mixin breadcrumb([{ href: '/quran', text: 'Quran' }, { href: '/quran/index', text: 'Chapters' }])

        div.ui-field-contain(data-role="controlgroup",data-type="horizontal",data-mini="true")
          a(href="#{url}&lang=ar",data-role="button") Arabic 
          a(href="#{url}&lang=en",data-role="button") English
          a(href="#{url}&lang=ur",data-role="button") Urdu
          a(href="#{url}&lang=hi",data-role="button") Hindi
        br
        br

        .surahHeaderFrame
          .surahHeaderText سورة #{surat.arname}

        if (lang.indexOf('ar') == -1) 
          each verse in verses
            .section.group
              .col.span_1_of_2.arabic 
                | #{verse.ar} 
                span.ayahNumber ﴿#{digits(verse.verse)}﴾  
              .col.span_1_of_2(class=lang) #{verse[lang]}
        else
          p.arabic.doublespaced
            each verse in verses
              | #{verse.ar} 
              span.ayahNumber ﴿#{digits(verse.verse)}﴾  

        h4
          if (next) 
            div.right
              a.next.ui-link(href="#{next}") 
                | Next
                img(src="/img/icon-next.png")
          if (prev)
            a.prev.ui-link(href="#{prev}")
              img(src="/img/icon-back.png")
              | Previous

      include ../sharing
