extends layout

append htmlhead
  if (scripts.css)
    link(href='#{scripts.css}',rel='stylesheet',type='text/css')

block content
  div(role='main')
    #menuPage.page.iscroll(data-role='page', data-cache='never')
      .scroller
        .company
          a(href='/month/')
            .calendar
              span.month #{hijri.monthName}
              span.day #{hijri.day}
          #coverVerse(style=verse.style) 
            if (verse.href)
              a(href=verse.href,alt=verse.attrib,rel=verse.linkrel) !{verse.arabic} 
            else 
              div !{verse.arabic}
            span.right #{verse.attrib}
          img(id="image-maps-2015-06-20-002144",src="/img/covers/" + verse.background,border="0",usemap="#image-maps-2015-06-20-002144",alt="",style="border-radius: 5px;")
          map(name="image-maps-2015-06-20-002144",id="image-maps-2015-06-20-002144")
            area(alt="Duas.org",title="Duas.org",href="http://duas.org",shape="rect",coords="81,500,220,600",style="outline:none;",target="_blank")
            area(alt="",title="",href=verse.href,shape="rect",coords="0,0,300,500",style="outline:none;",target="_self")
        ul.menu
          - var n = 0
          while n < menu.length-2
            li
              ul.section
                each val, index in menu.slice(n,n+3)
                  li.square
                    a.box(href=val.href, data-transition='fade', data-direction='reverse')
                      img(src='/img/' + val.icon, alt=val.text)
                      span.text #{val.text}
            - n += 3

    if (scripts.js)
      script(src="#{scripts.js}",defer="defer")
