extends ../layout

block content
  div(role='main')
    .page.innerPage#hadith(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop

        h1 
          a.back.ui-link(href='#',data-rel='back')
            img(src='/img/icon-back.png',alt='Ahadith')
            | #{hadith.title}

        mixin breadcrumb([{ href: '/ahadith', text: 'Ahadith' }, { href: '/ahadith/' + collection + '/1' , text:name }])

        p.arabic
          | !{hadith.arabic.replace(':',':<br/>')}
           

        p.english
          | !{helpers.embellish(hadith.english.replace(':','<blockquote>')) + '</blockquote>'}

        cite
          | Source: #{hadith.ref}
        br
        br

        h4
          a.prev.ui-link(href='/ahadith/#{collection}/#{Math.max(id - 1,1)}')
            img(src="/img/icon-back.png",alt='Previous')
            | Previous
          div.right
            a.next.ui-link(href="/ahadith/#{collection}/#{Math.min(id + 1,40)}") 
              | Next
              img(src="/img/icon-next.png")

      include ../sharing
