extends ../layout

block content
  div(role='main')
    include ../layout/search

      .padpage.padtop

        h1 
          a.back.ui-link(href='/',data-rel="back")
            img(src='/img/icon-back.png',alt='Back')
            | Islamic Events in the month of #{month}

        p
          !{info.description}

        .projects
          ul(data-role='listview')
            each event in events
              li
                a(href='/events/#{event.urlkey}')
                  img(src='/cache/64x64/#{event.image}', alt='#{event.name}')
                  h3 #{event.name}
                  p #{datehelper(event.hijridate,event.hijrimonth)}

         if info.collection
           h4 
             a(href='/tag/' + info.collection) Supplications &amp; Ziyarats for #{month}
 
       include ../sharing
