extends ../layout

block content
  div(role='main')
    .page.innerPage#rights(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop

        h1 
          a.back.ui-link(href='#',data-rel='back')
            img(src='/img/icon-back.png',alt='Qunoot')
            | Ramadhan: Day #{day}

        p.arabic
          | #{arabic} 

        p.english
          | #{english}

        h4
          a.prev.ui-link(href='/ramadhan/daily/#{Math.max(1,day - 1)}')
            img(src="/img/icon-back.png",alt='Previous')
            | Previous
          div.right
            a.next.ui-link(href="/ramadhan/daily/#{Math.min(day + 1,29)}") 
              | Next
              img(src="/img/icon-next.png")/

      include ../sharing
