extends ../layout

block content
  div(role='main')
    .page.innerPage#ziyaratBaqeeh(data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(data-rel='back')
            img(src='/img/icon-back.png',alt='Back') 
          | #{info.enname}
          audio(src="#{info.audio}",controls="controls",preload="none")
        p #{info.endesc}

        table
          thead
            th English Translation
            th.right.arabic(style="width: 75%") Arabic Text
          each row in data
            tr
              td #{row.english}
              td.right.arabic #{row.arabic}
