extends ../layout

block content
  div(role='main')
    .page.innerPage(id="#{page.urlkey}",data-role="page")
      .topGrahic
      a.menuButton(href="/")
        img(src="/img/menu-button.png",alt="Menu")

      .padpage.padtop
        h1 
          a.back.ui-link(href='/')
            img(src='/img/icon-back.png',alt='Back')
            | #{event.name}

        .flexslider 
          img(src="#{page.image}",alt='')

        p
          | #{event.name} is marked on #{event.hijridate} of #{event.month}.
          | This year, it falls on #{event.crdate.toString().split('00:')[0]}.

        p
          | !{event.description} 

        include ../sharing
